<div class="container mb-2  bg-opacity-50 bg-primary">
    <h1 class="text-center p-2 m-2">CONVERSOR DE DIVISAS </h1>
    <form class="row g-3 d-flex justify-content-center" #transaccionForm="ngForm">
        <div class="col-8">
            <label for="email" class="form-label">Correo Electronico</label>
            <input type="email" class="form-control" id="email" name="email" required email="true" placeholder="Ingrese email" [(ngModel)]="transaccion.emailCliente" #email="ngModel">
             
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                <div *ngIf="email.errors?.['required']">
                Email es requerido.
                </div>
                <div *ngIf="email.errors?.['email']">
                Debe ingresar un email.
                </div>
                </div>
                
          </div>
        <div class="col-8">
          <label for="cantidad" class="form-label">Cantidad</label>
          <input type="number" class="form-control" id="cantidad" name="cantidad" required placeholder="Ingrese cantidad" [(ngModel)]="transaccion.cantidadOrigen" #cantidad="ngModel">
          <div *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)" class="alert alert-danger">
            <div *ngIf="cantidad.errors?.['required']">
              Cantidad es requerido.
            </div>
            </div>   
             
        </div>
        <div class="col-8">
          <label for="de" class="form-label">De</label>
          <select id="de" class="form-select" name="de" [(ngModel)]="transaccion.monedaOrigen" required #origen="ngModel">
            <option value="{{divisa.symbol}}" *ngFor="let divisa of divisas" >{{divisa.symbol}} - {{divisa.name}}</option>
          </select>
          <div [hidden]="origen.valid || origen.pristine" class="alert alert-danger">
            Este campo es requerido.
          </div>
        </div>
        <div class="col-8">
          <label for="a" class="form-label">A</label>
          <select id="a" class="form-select" name="a" [(ngModel)]="transaccion.monedaDestino" required #destino="ngModel">
            <option value="{{divisa.symbol}}" *ngFor="let divisa of divisas" >{{divisa.symbol}} - {{divisa.name}}</option>
          </select>
          <div [hidden]="destino.valid || destino.pristine" class="alert alert-danger">
            Este campo es requerido.
          </div>
        </div>
        <div class="col-8">
            <input type="text" class="form-control" id="resultado" name="resultado"  disabled [(ngModel)]="transaccion.cantidadDestino">
          </div>
        
        <div class="col-12 d-flex justify-content-center mb-4">
          <button type="submit" class="btn btn-warning me-2" (click)="convertir()" [disabled]="!transaccionForm.form.valid">Convertir</button>
          <button type="submit" class="btn btn-primary" (click)="volver()">Volver</button>

        </div>
      </form>
</div>